[user]
  name = arberlisaj
	email = the.arberlisaj@gmail.com
[core]
  autocrlf = input
  editor = nvim 
[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[alias]
	lg = log --pretty=format:'%an commited %h'
	unstage = "restore --staged ."
