[submodule "nvim/.config/init.lua"]
	path = nvim/.config/nvim
	url = git@github.com:arberlisaj/init.lua.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:arberlisaj/init.lua.git
